<html>
    <head>
        <title>VAE TGM</title>
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/styles.css">

    </head>
    <body>
        <h1>Hello to our TGM Project VAE</h1>
        <div>
            <p>Here you can choose from which <a href="https://medmnist.com/" target="_blank">MedMNIST</a> dataset you want to sample</p>
        </div>
        <div class="container">
            <div class="button-element"><button>PathMNIST</button></div>
            <div class="button-element"><button>BloodMNIST</button></div>
            <div class="button-element"><button>OrganAMNIST</button></div>
        </div>
        
    </body>
</html>